Project/Rproj.user
Project/Rhistory
Project/RData
Project/Ruserdata


.data/

Project/renv/

Project/Report/note_all_data_cache
Project/Report/note_cache

Project/Data/


Project/.RDataTmp


PythonScript/data_apr
PythonScript/venv_ds




*.csv

*.rds
.Rproj.user

Project/.RData

Project/.Rhistory
/Project/renv/
/Project/Report/data
