Project/Rproj.user
Project/Rhistory
Project/RData
Project/Ruserdata


.data/

Project/renv/

Project/report/note_en.Rmd

Project/Data/

Project/Report/note_files/
Project/Report/note_cache/
Project/Report/data-report

Project/.RDataTmp


PythonScript/data_apr
PythonScript/venv_ds
PythonScript/environment.yml



*.csv

*.rds
.Rproj.user

Project/.RData

Project/.Rhistory
